body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(39, 38, 38);
  overflow: hidden;
}


.title-top {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.player {
  display: grid;
  height: 85vh;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 80vh);
}

.wrapper {
  border: 1px solid transparent;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #50ffd3, #6A5ACD);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: translateY(-6%);
}

.wrapper p {
  margin-left: 31.5%;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: -10px;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border: 2px solid #FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
  background: center / cover no-repeat url("https://m.media-amazon.com/images/I/81NF853al9L.png");
}

.track-art {
  overflow: hidden;
}

.track-art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.track-name {
  font-size: 2.5rem;
}

.track-artist {
  margin-top: 5px;
  font-size: 1.5rem;
}

.active {
  color: black;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}


.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.randomActive {
  color: black;
}

#rotate:hover {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


.inputResquest,
.Mybtn {
  display: flex;
  justify-content: center;
}

.requestSong {
  border-radius: 10px;
  font-size: 1.5em;
}

.Mybtn {
  background-color: green;
  border-radius: 10px;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.scoreBoard {
  color: #ddd;
  border: solid 3px;
  border-radius: 10px;
  height: auto;
  width: 5.6%;
}

.lyrics {
  border: solid black 1px;
  border-radius: 10px;
  color: #ddd;
  background-color: rgba(64, 62, 62, 0.5);
  transform: translateY(3%);
  width: 100%;
  height: 80%;
  overflow: auto;
  margin: -5px;
}

.divParoles {
  margin: 2%;
  text-align: center;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  white-space: pre-line;
}

.track-name,
.track-artist,
.now-playing {
  /* color: white; */
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave {
  height: 0px;
  width: 10px;
  border-radius: 20px;
  background: white;
  display: inline-block;
  margin: 0px 20px;
  animation: waveloader 2s infinite linear;
}



.wave:nth-child(1) {
  animation-delay: 0s;
}

.wave:nth-child(2) {
  animation-delay: 0.5s;
}

.wave:nth-child(3) {
  animation-delay: 1.0s;
}

.wave:nth-child(4) {
  animation-delay: 1.5s;
}

.wave:nth-child(5) {
  animation-delay: 2s;
}


@keyframes waveloader {
  50% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}


.cheatMess {
  color: red;
}