body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(39, 38, 38);
    overflow: hidden;
    
}

.title-top {
    color: #FFFAFA;
    display: flex;
    justify-content: center;
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #50ffd3, #6A5ACD);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 30%;
    width: 50%;
    transform: translateX(80%) translateY(-39%);
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

.track-art {
    margin: 2%;
    height: 170px;
    width: 170px;
    border: 2px solid #FFFAFA;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
    transform: translateX(30%);
    background: center / cover no-repeat url("https://img.lovepik.com/background/20211021/large/lovepik-business-brain-background-image_500355186.jpg");
}

.requestWords {
    border-radius: 50px;
    font-size: 3vh;
}

.LetterContainer {
    color: black;
    font-size: 2em;
    font-weight: 300;
    font-style: normal;
}

#timeRemaining {
    color: black;
    font-size: 1.5em;
    font-weight: 300;
    font-style: normal;
}

.wordsContainer {
    color: black;
    font-size: 2em;
    font-weight: 300;
    font-style: normal;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.mybtn {
    margin: 5px;
    background-color: cornflowerblue;
    font-size: 1.5em;
    border-radius: 10px;            
}

.container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audioContainer{
    align-content: center;
    text-align: center;
    background: linear-gradient(to bottom right,#50ffd3,#6A5ACD);
    border-radius: 20px;
    height: 450px;
    width: 45%; 
    margin-top: 100px;
    margin-left: 425px;
}

.deco-Img{
    background: center / cover no-repeat url("https://img.lovepik.com/background/20211021/large/lovepik-business-brain-background-image_500355186.jpg");
    transform: translateX(110%);
    border: solid 1px black;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    margin: 10px;
    margin-bottom: 40px;
}

.RoomsButtons{
    margin: 7.7%;
}
  
.RoomsButton {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    background: linear-gradient(to left, #35bfc6, #97eaef);
    color: rgb(0, 0, 0);
    border: 0.5px black solid;
    border-radius: 5px;

}

.RulesButton {
    width: 150px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    background: linear-gradient(to left, #35bfc6, #97eaef);
    color: rgb(0, 0, 0);
    border: 0.5px black solid;
    border-radius: 5px;

}

.lyrics {
    border: solid black 1px;
    border-radius: 10px;
    color: #ddd;
    background-color: rgba(64, 62, 62, 0.5);
    width: 38%;
    overflow: auto;
}
  
.divParoles {
    text-align: center;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 250px;
}
  
.mybtnMessage{
    background-color: green;
    border-radius: 10px;
}

.myInput{
    border-radius: 10px;
    margin: 1.5%;
}

.TextContainer{
 text-align: center;
}

.DeleteBtn{
    color: white;
    background-color: red;
    border-radius: 10px;
    margin: 0.5%;
}

.scoreboard {
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    color: white;
    position: fixed;
    border-radius: 10px;
    top: 10px;
    right: 10px;
    z-index: 999;
  }