body{
    margin-top: 20px;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

img{
border-radius: 50%;
}


.sidebar {
    height: 100%;
    width: 4%; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #201e1e;
    padding-top: 1%;
    transition: width 0.3s; 
    border-radius: 10px;
    border: solid 2px;
}

.sidebar.expanded {
    width: 9%; 
    border-radius: 10px;
}

.sidebar .dropdown-btn {
    width: 50%;
    padding: 16%;
    font-size: 16px;
    text-align: left;
    background-color: #201e1e;
    border: none;
    outline: none;
    cursor: pointer;
}

.sidebar .dropdown-container {
    display: none;
    background-color: #201e1e;
}

.sidebar .dropdown-container a {
    padding: 12% 16%;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
}

.sidebar .dropdown-btn.active {
    background-color: #201e1e;
}

.sidebar .dropdown-container.show {
    display: block;
}


.icone-2{
    display: flex;
    margin: 10%;
}

.icone-2{
    border-radius: 100px;
    margin: 5%;
    transition: transform 0.3s ease;
    border: solid black;
}

img:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 1200px) {
    .sidebar {
        width: 25%;
    }

    .sidebar.expanded {
        width: 30%;
    }
}
