<!DOCTYPE html>
<html lang="en-fr">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cookie&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Jersey+25&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <title>guess the song Win</title>
    <link rel="stylesheet" href="../static/lose.css">
</head>

<body>
    <div class="title-top">
        Oh no....😭😭😭
    </div>

    <div class="div-img">
        <img class="imgGif" src="../images/halloween.gif" alt="image">
    </div>

    <form action="/lose"  method="post">
        <div class="div-btn">
            <button class="myBtn" name="btnLose">Restart🔄</button>
        </div>
    </form>
</body>

</html>